* {
    margin: 0;
    padding: 0;
}

.bg-main {
    background-color: #00B207;
}

.bg-black-main {
    background-color: #333333;
    color: #999999;
}

.big-bannar {
    background-image: url(./Project-Files/Bannar-1.png);
}

.small-bannar-1 {
    background-image: url(./Project-Files/Bannar-2.png);
}

.small-bannar-2 {
    background-image: url(./Project-Files/Bannar-3.png);
}

.type-1 {
    background-image: url("./Project-Files/Type-1.png");
}

.type-2 {
    background-image: url("./Project-Files/Type-2.png");
}

.type-3 {
    background-image: url("./Project-Files/Type-3.png");
}

.bg-orange {
    background-color: #FF8A00;
}

.text-main {
    color: #00B207;
}

.text-orange {
    color: orange;
}

.w-15 {
    width: 15%;
}

.h-100 {
    height: 450px;
    font-family: 'Roboto', sans-serif;
}

.discount-container {
    background-image: url("./Project-Files/Discount-bg.jpg");
    height: 300px;
}

.ig-1 {
    background-image: url(./Project-Files/Insta-1.png);
}

.ig-2 {
    background-image: url(./Project-Files/Insta-2.png);
}

.ig-3 {
    background-image: url(./Project-Files/Insta-3.png);
}

.ig-4 {
    background-image: url(./Project-Files/Insta-4.png);
}

.ig-5 {
    background-image: url(./Project-Files/Insta-5.png);
}

.ig-6 {
    background-image: url(./Project-Files/Insta-6.png);
}

.contact-main-header {
    background-image: url(./Project-Files/Contact-bg-1.png);
    height: 100px;
}

.contact-map {
    background-image: url(./Project-Files/Contact-Map.png);
    height: 300px;
}

.blog-main-header {
    background-image: url("./Project-Files/blog-bg.png");
    height: 100px;
}

.blog-gallery {
    height: 85px;
}

@media screen and (max-width: 768px){
    
    .w-15 {
        width: 30%;
    }

    .contact-main-header,
    .contact-map,
    .blog-main-header {
        display: none;
    }
     
}